/* Fonts */
@font-face{
  font-family: "iCielMedium";
  src: local("iCielMedium"),url("../../fonts/iCiel-Medium.ttf") format("truetype");
  font-weight: normal;
}

/* Media breakpoints */
$mobile: "(min-width: 576px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$large: "(min-width: 1200px)";
$huge: "(min-width: 1680px)";

/* Text Color */
$blue: #013648;
$black: #000;
$white: #fff;

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "iCielMedium", "Noto Sans", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  max-width: 100%;
}
